@custom-media --mobile (max-width: 640px);

.cssHeader {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  margin-bottom: 7px;
}

.cssInput {
  width: 300px;
}
.cssSearchButton {
  height: 40px;
  margin-left: 20px;
}
.cssButton {
  height: 40px;
  margin-left: 10px;
}

.cssLogo {
  position: absolute;
  left: 10px;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 50px;
  height: 17px;
  display: block;
}

.cssSearchGroupe {
  display: flex;
}

.cssSearchTitle {
  min-width: 10%;
  padding: 15px;
}

.cssSearchData {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cssLabel {
  width: 33%;
}

.cssSearchInput {
  display: flex;
  align-items: baseline;
}

.cssSearchInputLabel {
  margin-left: 10px;
}

.cssDrawer {
  padding: 20px 20px 0 20px;
}

.cssSearchButtons {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (--mobile) {
  .cssHeader {
    padding: 40px 12px 0;
  }
  .cssLogo {
    left: 0;
    right: 0;
    bottom: 0;
    top: 15px;
    margin: 0 auto;
    width: 50px;
    height: 17px;
    display: block;
  }
  .cssSearchGroupe {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .cssSearchTitle {
    padding: 15px 0 5px;
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .cssLabel {
    width: 48%;
  }
  .cssSearchInput {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }
  .cssInput {
    width: 70%;
    height: 50px;
    margin-top: 0;
  }
}
