@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load {
  animation: spin 1.5s linear infinite;
}

.loadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(100% - 50px);
  width: 100%;
  height: 400px;
}
